
.vs/Pickem/v16/Server/sqlite3/db.lock
.vs/Pickem/v16/Server/sqlite3/storage.ide
.vs/Pickem/v16/Server/sqlite3/storage.ide-shm
.vs/Pickem/v16/Server/sqlite3/storage.ide-wal
.vs/Pickem/config/applicationhost.config
.vscode/
Assessment/obj/
Assessment/bin/
AssessmentTest/obj/
AssessmentTest/bin/
Challenge/obj/
Challenge/bin/
DiamondFizzBuzz/obj/
DiamondFizzBuzz/bin/



